.container {
  display: grid;
  /* grid-template-columns: 200px 100px 300px; */
  grid-template-columns: repeat(3, 1fr) 2fr;
  gap: 10px;
  height: 80vh;
  grid-template-rows: repeat(3, 100px);
  border: 1px solid red;
  /* justify-items: center; */
  /* justify-content:; */
  /* align-items: center; */
  /* align-content: center; */
}

.item {
  border: 1px solid red;
  background-color: yellow;
  color: red;
  font-weight: 700;
  font-size: 24px;
  /* padding: 30px; */
}
.item1 {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-column: 1/-1;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}
body {
  background-color: green;
}
.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    "head head head"
    "side main section" "footer footer footer";
}

header {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-color: lightgray;
  grid-area: head;
}

aside {
  background-color: lightblue;
  grid-area: side;
}
main {
  background-color: lightgreen;
  grid-area: main;
}
section {
  grid-area: section;
  background-color: red;
}
footer {
  background-color: black;
  color: white;
  grid-area: footer;
  padding: 20px;
}

/* 576px Mobile devices */
/* 577px - 768px Tabs */
/* 769px- 992px Small screens */
/* 993px - 1200px normal screml  */

@media (max-width: 576px) {
  .layout {
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
      "head head "
      "side main " "footer footer ";
  }
  header {
    background-color: yellow;
  }
  section {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .layout {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      " head head"
      " main section" " footer footer";
  }
  aside {
    display: none;
  }
}
